* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: merri-400;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1E0E2B;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

input,
textarea {
  border: none;
  outline: none;
}

@font-face {
  font-family: merri-400;
  src: url(/assets/fonts/Merriweather_120pt-Regular.ttf);
}

/* header */

header {
  padding: 15px 0px;
  border-bottom: 1px solid #ffffff73;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

header .logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.desk-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.desk-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.desk-menu a:hover {
  color: #fff;
  transition: 0.3s;
}

/* Mobile offcanvas menu */
.mobile-nav li {
  margin-bottom: 20px;
}

.mobile-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.mobile-nav a:hover {
  color: #b8bcc8;
}

/* footer */
footer {
  background-color: #272944;
}

.footer-section {
  padding: 40px 0;
  background-color: #272944;
}

.play-responsibly-box {
  /* background-color: #5F1F1A; */
  border: 2px solid #1E0E2B;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  margin-bottom: 25px;
  color: #b8bcc8;
}

.play-responsibly-box h5 {
  color: #ff6b6b;
  font-weight: bold;
  margin-bottom: 10px;
}

.age-warning {
  /* background-color: rgba(255, 215, 0, 0.1); */
  /* border: 2px solid #ffd700; */
  border-radius: 12px;
  padding: 18px 25px;
  margin-bottom: 25px;

  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;

  strong {
    color: #fff;
    font-size: 18px;
  }

  span {
    color: #b8bcc8;
  }
}

.disclaimer-box {
  background-color: #232b45;
  border-radius: 8px;
  padding: 25px;
  line-height: 1.6;
  margin-bottom: 35px;
  color: #b8bcc8;
  font-size: 15px;

  strong {
    color: #fff;
  }
}

.footer-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}

.logos img {
  height: 35px;
  margin: 0 12px;
  opacity: 0.85;
}

.logos img:hover {
  opacity: 1;
}

.copyright {
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid #fff;
  color: #b8bcc8;
  font-size: 0.9rem;
  margin-top: 20px;
}